.mainWrapper{
	padding:20px;
}

body{
	height:100%;
	width:100%;
	overflow:hidden;
}

//Scrollbar
.scrollable::-webkit-scrollbar-track
{
    background-color: #efefef;
}

.scrollable::-webkit-scrollbar
{
    width: 5px;
    background-color: #efefef;
}

.scrollable::-webkit-scrollbar-thumb
{
    background-color: #ccc;
}

button{
	outline:none;
}

.align-right{
	text-align:right;
}
.align-center{
	text-align:center;
}

.unselectable{
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}

.logo{
    height: 122px;
    margin-left: -27px;
    margin-top: -28px;
    margin-bottom: -15px;
}

.loadingScreen{
	top: 0;
	bottom: 0;
	left: 0;
	right : 0;
	position: absolute;
	background-color:$white;
	text-align:center;
	padding-top:20%;
	z-index:10000;
}

.goToBack{
	z-index:-10;
}

.panel{
	box-shadow:6px 9px 141px 6px rgba(8, 8, 10, 0.1);
	border-radius: 3px;
	h4{
		font-family: 'Slabo 27px', serif;
		color:white;
		letter-spacing:0.5px;
		font-size:18px;
	}
}

.panel-title{
	background-color: $grey;
	margin-bottom:0px;
	border-radius:3px 3px 0 0;
	padding: rem-calc(10) rem-calc(20);
}

.sidebar{
	overflow-x:hidden;
	overflow-y:scroll;
	.assignment{
		padding: rem-calc(10) rem-calc(20);
		background-color: $white;	
		-webkit-transition: background-color 0.5s;
	    transition: background-color 0.5s;	
	    border-bottom: solid 1px #efefef;
	    cursor: pointer;
	    .title{
			font-size:20px;
			font-weight: bold;
			margin-bottom:0px;
		}
		.due-date{
			font-size:14px;
			color: $monsoon;
			margin-bottom:0px;
			span{
				// text-decoration:underline;
			}
		}
		&:hover{
			background-color : scale-color(#546986, $lightness: 94%);
		}
	}
}

.tab-table{
	.button-row{
		button{
			color:$monsoon;
			background-color: $white;
			border-color: $snow;
			margin-right:3px;
			box-shadow:3px 3px 3px 0 rgba(56,61,72,0.09);
			outline: none;
			padding:13px 20px;
			&:hover{
				background-color : scale-color($white, $lightness: -1%);
				box-shadow:2px 2px 2px 0 rgba(56,61,72,0.09);
			}
		}
	}
}