<div class="mainWrapper row">

	<div class="small-12 medium-3 columns animated fadeInLeft" style="z-index:100">
		<img class="logo" src="/img/edmodo_logo.png">
		<listpanel rotateto="rotateto" rotate="rotate" max-percent='.7' paneltitle="'Assignments'" list="assignments"></listpanel>
	</div>

	<div class="small-12 medium-9 columns animated fadeInRight tab-table" >

		<carousel3d rotate="rotate" 
					rotateto="rotateto" 
					carousel="assignments" 
					toggle-axis="toggleAxis" 
					percent-height='.8'>
		</carousel3d>

	</div>

	<div ng-class="{loadingScreen : true, fadeOut : !loading,  animated : true, goToBack : loadingFinished}">
		<img class="logo" src="/img/edmodo_logo.png">
		<p>loading...</p>
	</div>
		
</div>
